
div { height: auto; }
div.side {
    background-color: none;
    width: 150px;
    float: left;
}
div#cart {
    background-color: lightgrey;
    width: 200px;
    float: left;
}
span {
    width:100%;
    text-align: left;
    display: block;
    margin: 3px auto;
}