<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:util="http://www.springframework.org/schema/util"
       xsi:schemaLocation="
                http://www.springframework.org/schema/beans
                http://www.springframework.org/schema/beans/spring-beans.xsd
                http://www.springframework.org/schema/util
                http://www.springframework.org/schema/util/spring-util.xsd">
	
	<bean id="getProducts" class="com.sky.actions.ProductSelectionAction">
		<constructor-arg ref="customerLocationService"/>
		<constructor-arg ref="catalogueService"/>
	</bean>
	
	
	<bean id="catalogueService" class="com.sky.services.impl.CatalogueServiceImpl">	
		<constructor-arg ref="catalogue"/>	
	</bean>
	
	<bean id="customerLocationService" class="com.sky.services.impl.CustomerLocationServiceImpl">	
		<constructor-arg ref="customerMap"/>	
	</bean>
	
	<util:map id="customerMap" value-type="java.util.List">
      <entry key="1" value-ref="customer1" />
      <entry key="2" value-ref="customer2" />
   </util:map>
	
	
	<bean id="catalogue" class="com.sky.model.Catalogue">
		<property name="categories">
		<list>
		    <ref bean="category2" />  
            <ref bean="category1" />              
        </list>
		</property>
	</bean>
	<bean id="category1" class="com.sky.model.Categories">
		<property name="name" value="Sports"/>	
		<property name="products">
		<list>
            <ref bean="product1" />
            <ref bean="product2" />
            <ref bean="product3" />               
        </list>
		</property>
	</bean>
	<bean id="category2" class="com.sky.model.Categories">
		<property name="name" value="News"/>	
		<property name="products">
		<list>
            <ref bean="product4" />  
            <ref bean="product5" />             
        </list>
		</property>
	</bean>
	<bean id="product1" class="com.sky.model.Product">
		<property name="name" value="Arsenal TV"/>	
		<property name="location">
			<ref bean="location1" />
		</property>
	</bean>
	<bean id="product2" class="com.sky.model.Product">
		<property name="name" value="Chelsea TV"/>
		<property name="location">
			<ref bean="location1" />
		</property>	
	</bean>
	<bean id="product3" class="com.sky.model.Product">
		<property name="name" value="Liverpool TV"/>
		<property name="location">
			<ref bean="location2" />
		</property>	
	</bean>
	<bean id="product4" class="com.sky.model.Product">
		<property name="name" value="Sky Sports News"/>	
	</bean>
	<bean id="product5" class="com.sky.model.Product">
		<property name="name" value="Sky News"/>	
	</bean>	
	
	<bean id="customer1" class="com.sky.model.Customer">
		<property name="customerId" value="1"/>	
		<property name="customerLocation">
		<ref bean="location1" />
		</property>	
	</bean>
	<bean id="customer2" class="com.sky.model.Customer">
		<property name="customerId" value="2"/>	
		<property name="customerLocation">
		<ref bean="location2" />
		</property>	
	</bean>		
	<bean id="location1" class="com.sky.model.Location">
		<property name="name" value="LONDON"/>	
	</bean>
	<bean id="location2" class="com.sky.model.Location">
		<property name="name" value="LIVERPOOL"/>	
	</bean>
	
 
</beans>
